@import url("style_reset.css");

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #27272B;
}

.wrapper {
    max-inline-size: 800px;
    margin-inline: auto;
    background-color: #27272B;
    padding: 0 20px 0 20px;
    color: #D7D7E0;
    line-height: 1.4;

    min-height: 100vh;

    display: grid;
    grid: 8em 1fr 1em / auto;
}

.main-content-grid {
    grid-row: 2;
}

.footer-grid {
    grid-row: -1;
}

.header-and-nav-grid {
    grid-row: 1;
}

.two-column-layout {
    display: grid;
    
    @media (width > 600px) {
        grid-template-columns: 1fr 1fr;
    gap: 30px;
    }
}

.aligned-form {
    display: grid;
    grid-template-columns: auto auto;
    max-inline-size: 800px;
    gap: 10px 10px;
    padding-block-end: 10px;
    padding-inline-start: 15px;
}

.form-row-height {
    block-size: 40px;
}

.form-row-height-label {
    block-size: 40px;
    text-align: end;
}

.two-column-form-layout {
    display: grid;
    gap: 0px;
}

.primary-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.primary-navigation ul li {
    margin: 0;
    padding: 0;
}

.primary-navigation ul li::marker {
    content: "";
}

a {
    color: #000000;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px;
    background-color: #FDE3A7;
    display: inline-block;
    inline-size: 100px;
    border-radius: 8px;
}

a:hover {
    background-color: #817420;
    color: #fefefe;
}

a:focus-visible {
    color: #fefefe;
    background-color: #817420;
    border: 4px solid #ffffff;
}

.home-nav {
    inline-size: 250px;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.main-li {
    list-style-type: none;
    margin-inline-start: 0;
    margin-block: 15px;
    text-align: center;
}

.remove-marker li::marker {
    content: "";
}

nav {
    padding-block: 10px;
    padding-inline: 5px;
    border-block-end: 3px #FDE3A7 solid;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    margin-top: 10px;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
}

img {
  display: block;
  margin: 0 auto;
  margin-block: 10px;
  max-inline-size: 100%;
}

header {
    font-size: 2.25rem; 
    font-weight: bold;
    background-color: #FDE3A7;
    color: #000000;
    text-align: center;
    padding: 10px;
}

li {
    margin-block-end: 5px;
    margin-inline-start: 75px;
}

ul li::marker {
    content: '💊     ';
}

p {
    margin-block-start: 5px;
    margin-block-end: 10px;
    padding-inline-start: 10px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

footer {
    text-align: center;
    background-color: #FDE3A7;
    color: #000000;
    padding-block: 10px 10px;
    margin-top: auto;
}

input {
    border: 1px solid #ffffff;
    background-color: #727277;
    text-align: left;
    padding: 1px;
    margin-inline: 10px;
    display: inline-block;
}

::placeholder {
  color: #e0ffff;
}

select {
    border: 1px solid #ffffff;
    background-color: #727277;
    text-align: center;
    padding: 1px;
    margin-inline: 10px;
    appearance: auto;
}

input:focus-visible {
    border: 5px solid #ffffff;
    background-color: #454548;
}

input[type="checkbox"]:focus-visible {
    border: 10px solid #454548;
}

input[type="checkbox"] {
    appearance: auto;
    width: 15px;
    height: 15px;
    display: inline-block;
    visibility: visible;
    cursor: default;
}

select:focus-visible {
    border: 5px solid #ffffff;
    background-color: #454548;
}

label {
    margin-inline-start: 15px;
}

button {
    margin-inline-start: 225px;
    color: #000000;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px;
    background-color: #FDE3A7;
    display: inline-block;
    inline-size: 200px;
    border-radius: 8px;
    text-align: center;
}

button:hover {
    background-color: #817420;
    color: #fefefe;
}

button:focus-visible {
    color: #fefefe;
    background-color: #817420;
    border: 4px solid #ffffff;
}

table {
    margin-block-start: 15px;
    background-color: #454548;
    border-collapse: collapse; 
    width: 100%;
}

th,
td {
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #3a3a3c;
    font-weight: bold;
}

tr:nth-of-type(2n) {
    background-color: #626265;
}

caption {
    padding: 0.5rem;
    text-align: start;
}

@media(width < 600px) {
    th {
        display: none;
    }

    td {
        display: grid;
        grid-template-columns: 20ch auto;
        gap: 0.25rem; 
        padding: 0.25rem;
        text-align: start;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
        text-transform: capitalize;
    }

    td:first-child {
        padding-block-start: 2rem;
    }

    td:last-child {
        padding-block-end: 2rem; 
    }
}