{%extends "base.html" %} {%block title %}Add Location - Medical Appointment Manager{% endblock %}

{% block content %}
    <h1>Add Location</h1>
    <p>Please complete all required (*) fields.</p>
    <form method="post">
        <div class="aligned-form">
            <div class="form-row-height-label">
                <label for="practice-name">Practice Name</label>
            </div>
            <div class="form-row-height">
                <input type="text" id="practice-name" name="practice-name" placeholder="e.g. Sunnyside Hospital">
            </div>

            <div class="form-row-height-label">
                <label for="address-row-1">Address Row 1 *</label>
            </div>
            <div class="form-row-height">
                <input type="text" id="address-row-1" name="address-row-1" placeholder="e.g. 1234 Rainbow Road" required>
            </div>

            <div class="form-row-height-label">
                <label for="address-row-2">Address Row 2</label>
            </div>
            <div class="form-row-height">
                <input type="text" id="address-row-2" name="address-row-2" placeholder="e.g. Suite 2222">
            </div>

            <div class="form-row-height-label">
                <label for="city">City *</label>
            </div>
            <div class="form-row-height">
                <input type="text" id="city" name="city" placeholder="e.g. Atlantis" required>
            </div>

            <div class="form-row-height-label">
                <label for="state">State *</label>
            </div>
            <div class="form-row-height">
                <select id="state" name="state" required>
                    <option value="">--Select State--</option>
                    <option value="alabama">Alabama</option>
                    <option value="alaska">Alaska</option>
                    <option value="arizona">Arizona</option>
                    <option value="arkansas">Arkansas</option>
                    <option value="california">California</option>
                    <option value="colorado">Colorado</option>
                    <option value="connecticut">Connecticut</option>
                    <option value="delaware">Delaware</option>
                    <option value="florida">Florida</option>
                    <option value="georgia">Georgia</option>
                    <option value="hawaii">Hawaii</option>
                    <option value="idaho">Idaho</option>
                    <option value="illinois">Illinois</option>
                    <option value="indiana">Indiana</option>
                    <option value="iowa">Iowa</option>
                    <option value="kansas">Kansas</option>
                    <option value="kentucky">Kentucky</option>
                    <option value="louisiana">Louisiana</option>
                    <option value="maine">Maine</option>
                    <option value="maryland">Maryland</option>
                    <option value="massachusetts">Massachusetts</option>
                    <option value="michigan">Michigan</option>
                    <option value="minnesota">Minnesota</option>
                    <option value="mississippi">Mississippi</option>
                    <option value="missouri">Missouri</option>
                    <option value="montana">Montana</option>
                    <option value="nebraska">Nebraska</option>
                    <option value="nevada">Nevada</option>
                    <option value="new-hampshire">New Hampshire</option>
                    <option value="new-jersey">New Jersey</option>
                    <option value="new-mexico">New Mexico</option>
                    <option value="new-york">New York</option>
                    <option value="north-carolina">North Carolina</option>
                    <option value="north-dakota">North Dakota</option>
                    <option value="ohio">Ohio</option>
                    <option value="oklahoma">Oklahoma</option>
                    <option value="oregon">Oregon</option>
                    <option value="pennsylvania">Pennsylvania</option>
                    <option value="rhode-island">Rhode Island</option>
                    <option value="south-carolina">South Carolina</option>
                    <option value="south-dakota">South Dakota</option>
                    <option value="tennessee">Tennessee</option>
                    <option value="texas">Texas</option>
                    <option value="utah">Utah</option>
                    <option value="vermont">Vermont</option>
                    <option value="virginia">Virginia</option>
                    <option value="washington">Washington</option>
                    <option value="west-virginia">West Virginia</option>
                    <option value="wisconsin">Wisconsin</option>
                    <option value="wyoming">Wyoming</option>
                </select>
            </div>

            <div class="form-row-height-label">
                <label for="zip-code">Zip Code *</label>
            </div>
            <div class="form-row-height">
                <input type="text" pattern="\d{5}(-\d{4})?" id="zip-code" name="zip-code" placeholder="e.g. 12345" inputmode="numeric" required>
            </div>

            <div class="form-row-height-label">
                <label for="travel-home">Travel time from home (min)</label>
            </div>
            <div class="form-row-height">
                <input type="number" id="travel-home" name="travel-home" placeholder="e.g. 20">
            </div>

            <div class="form-row-height-label">
                <label for="travel-work">Travel time from work (min)</label>
            </div>
            <div class="form-row-height">
                <input type="number" id="travel-work" name="travel-work" placeholder="e.g. 45">
            </div>

        </div>
        <p class="button">
            <button type="submit">Add location</button>
        </p>
    </form>
{% endblock %}