{%extends "base.html" %} {%block title %}Add Appointment - Medical Appointment Manager{% endblock %}

{% block content %}
    <h1>Add Appointment</h1>
    <p>Please complete all required (*) fields.</p>
    <form method="post">
        <div class="aligned-form">
            <div class="form-row-height-label"> 
                <label for="appointment-date">Appointment Date *:</label>
            </div>   
            <div class="form-row-height">
                <input type="date" id="appointment-date" name="appointment-date" required>
            </div>
        
            <div class="form-row-height-label"> 
                <label for="appointment-time">Appointment Time *:</label>
            </div>
            <div class="form-row-height">
                <input type="time" id="appointment-time" name="appointment-time" required>
            </div>

            <div class="form-row-height-label">
                <label for="provider">Provider *:</label>
            </div>
            <div class="form-row-height">
                <select name="provider-name" id="provider" required>
                    <option value="">--Please select a provider--</option>
                    {% for provider in providers %}
                        <option value="{{provider.id}}">{{provider.first_name}} {{provider.last_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-row-height-label">
                <label for="appt-type">Appointment Type:</label>
            </div>
            <div class="form-row-height">
                <select name="appointment-type" id="appt-type">
                    <option value="">--Please select an appointment type--</option>
                    {% for purpose in purposes %}
                        <option value="{{purpose.id}}">{{purpose.visit_purpose}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-row-height-label">
                <label for="location">Location *:</label>
            </div>
            <div class="form-row-height">
                <select name="appointment-location" id="appointment-location" required>
                    <option value="">--Please select appointment location--</option>
                    {% for location in locations %}
                        <option value="{{location.id}}">{{location.address_row_1}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p class="button">
            <button type="submit">Add appointment</button>
        </p>
    </form>
{% endblock %}