{%extends "base.html" %} {%block title %}View Providers - Medical Appointment Manager{% endblock %}

{% block content %}
    <h1>Providers</h1>
    <table>
       <thead>
            <tr>
                <th scope="col">Provider Name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Website</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Scheduling Type</th>
            </tr>
       </thead>

        <tbody>
            {% for provider in providers %}
                <tr>
                    <td data-cell="Provider Name">
                        {{ provider.first_name or ''}} {{ provider.last_name or ''}}
                    </td>
                    <td data-cell="Specialty">
                        {{ provider.specialty_name or ''}}
                    </td>
                    <td data-cell="Website">
                        {{ provider.website or ''}}
                    </td>
                    <td data-cell="Phone Number">
                        {{ provider.phone_number or ''}}
                    </td>
                    <td data-cell="Scheduling Type">
                        {{ provider.scheduling_type or ''}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
{% endblock %}