{%extends "base.html" %} {%block title %}View Providers - Medical Appointment Manager{% endblock %}

{% block content %}
    <h1>Providers</h1>
    <table>
        <tr>
            <th>Provider Name</th>
            <th>Specialty</th>
            <th>Website</th>
            <th>Phone Number</th>
            <th>Scheduling Type</th>
        </tr>
        <tr>
            <td data-cell="provider full name">David Happytooth</td>
            <td data-cell="specialty">Dentist</td>
            <td data-cell="website">www.happiestofteeth.com</td>
            <td data-cell="provider phone number">(800) 588-2300</td>
            <td data-cell="scheduling type">Zocdoc</td>
        </tr>
        <tr>
            <td data-cell="provider full name">Stormy Beach</td>
            <td data-cell="specialty">Dermatologist</td>
            <td data-cell="website">www.beachyskin.com</td>
            <td data-cell="provider phone number">(800) 867-5309</td>
            <td data-cell="scheduling type">Phone</td>
        </tr>


    </table>
{% endblock %}